doctype html
html
    head
        meta( charset='utf-8' )
        title nodeca/babelfish demo
        script( src='javascripts/modernizr.js' )
    body
        #surface
        script( src='javascripts/shims/es5-shim.js' )
        script( src='javascripts/main.js' )
